<div class="course-form">
    <div>Course Form blabla</div>
</div>

@if (_course == null)
{
    <div>null</div>
}
else
{
    <EditForm FormName="EditCourse" Model="_course">
        <ChildContent>
            <InputText @bind-Value="_course.Title" />
            

        </ChildContent>

    </EditForm>    
}

@code {
    [Parameter]
    public Course? _course { get; set; }
}
