@page "/courses"
@attribute [StreamRendering]

<PageTitle>courses</PageTitle>

<h1>courses management </h1>

<p>manage courses </p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course name</th>
                <th>description</th>
                <th>Includes</th>
                <th>Category</th>
            <th>content</th>
            </tr>
        </thead>
    </table>


@code {
  
}
