
label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.find-email {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 2rem;

    input {
        border-radius: 0.375rem;
        width: 25%;
        padding: 0.4rem;
    }
}

.saved-courses-form {
    background-color: var(--color-gray-300);
    margin: 1rem 0;

    .form-wrapper-saved-courses {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 1rem;
        grid-template-areas: "courses users checkboxes";



        .form-group-saved-courses-id, .form-group-saved-users-id {

            input {
                border-radius: 0.375rem;
                width: 100%;
                margin-bottom: 0.5rem;
                text-align: center;
                padding: 0.5rem;
            }

            .form-group-saved-courses-id {
                grid-area: courses;
            }

            .form-group-saved-users-id {
                grid-area: users;
            }
        }

        .checkbox-wrapper {
            grid-area: checkboxes;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .checkbox-group-form {
            }
        }
    }
}
